@font-face {
    font-family: 'ringbearer';
    src: url('/font/ringbearer.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'lotrFont';
    src: url('/font/lotr.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}



h1{
    padding-top: 20px;
    font-family: 'lotrFont';
}

h2{
    padding-top: 20px;
    font-family: 'lotrFont';
}

#textPargraphs{
    display: block;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
}

#textContent{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 80%;
}

.box {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    background-color: rgba(204, 154, 0, 0.9);
    width: 55%;
    max-width: 75%;
    padding: 5px;
    border: 5px solid #1E243A;
  }
  .box:before, .box:after {
    content: "•";
    position: absolute;
    width: 20px;
    height: 20px;
    font-size: 25px;
    color: #1E243A;
    border: 2px solid #1E243A;
    line-height: 12px;
    top: 5px;
    text-align: center;
  }
  .box:before {
    left: 5px;
  }
  .box:after {
    right: 5px;
  }
  .box .box-inner {
    position: relative;
    border: 5px solid #1E243A;
    padding: 25px;
  }
  .box .box-inner:before, .box .box-inner:after {
    content: "•";
    position: absolute;
    width: 20px;
    height: 20px;
    font-size: 25px;
    color: #1E243A;
    border: 2px solid #1E243A;
    line-height: 12px;
    bottom: -2px;
    text-align: center;
  }
  .box .box-inner:before {
    left: -2px;
  }
  .box .box-inner:after {
    right: -2px;
  }