@font-face {
    font-family: 'lotrFont';
    src: url(  '/font/lotr.ttf') format('truetype');
  }

  @font-face {
    font-family: 'ringbearer';
    src: url('/font/ringbearer.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

h1 {
    text-align: center;
    font-size: 55px;
    color: black;
    font-family: 'lotrFont';
}

h2{
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    font-family: 'Libre Baskerville';
}


p{
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    color: black;
    font-family: 'Libre Baskerville', serif;
}

#nameAndTitle{
    margin-top: 3px;
    margin-bottom: 3px;
}

.btn {
    font-family: "lotrFont";
    background-color: black;
}
.td{
    font-size: 20px;
    border: 2px solid black;
}

.th{
    border: 2px solid black;
}

.tr > td{
    border: 2px solid black;
}
#statsTable{
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

#statsDiv tr, th, td{
    border: 3px solid black;
}

#infoTables tr, th, td{
    border: 2px solid black;
    font-size: 20px;
}


#generateButton{
    padding: 10px;
    width: 125px;
    margin-left: auto;
    margin-right: auto;
}

#npcInfo{
    padding-top: 20px;
    height: 100%;
}

#infoTables{
    padding-top: 20px;
    width:100%;
    display: block;
}

#leftTable > td{
    padding: 20px 40px;
    border: 2px solid black;
    display: block;
}



#rightTable > td{
    padding: 20px 40px;
    border: 2px solid black;
    display: block;
    text-align: center;
}

#leftTable{
    float: left;
    margin-left: 25px;
}

#rightTable{
    float: left;
    width: 350px;
}